---

---

<footer class="h-full flex items-center justify-between max-phone:flex-col max-phone:justify-normal border-t-2 p-4 mt-5">
  <nav class="flex flex-wrap justify-center items-center gap-5 max-phone:mb-4">
    <a href="/">Inicio</a>
    <a href="/">Recursos</a>
    <a href="/">Tendencia</a>
    <a href="/">Acerca de</a>
    <a href="/privacypolicy">Privacy Policy</a>
  </nav>
  <p class="text-center">&copy; 2024 NeoWeb. Todos los derechos reservados</p>
</footer>
